{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block title %}
    {% trans 'Change User Password' %} - {{ block.super }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{% trans 'Change User Password' %}</h1>
                {% include 'partials/messages.html' %}
                <form method="POST" action=".">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label
                            for="{{ form.old_password.id_for_label }}"
                            class="form-label">{% trans 'Old Password' %}</label>
                    {{ form.old_password|add_class:"form-control"|attr:"type:password" }}
                  </div>
                  <div class="mb-3">
                    <label
                            for="{{ form.new_password1.id_for_label }}"
                            class="form-label">{% trans 'New Password' %}</label>
                    {{ form.new_password1|add_class:"form-control"|attr:"type:password" }}
                  </div>
                  <div class="mb-3">
                    <label
                            for="{{ form.new_password2.id_for_label }}"
                            class="form-label">{% trans 'Confirm New Password' %}</label>
                    {{ form.new_password2|add_class:"form-control"|attr:"type:password" }}
                  </div>
                  <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}